.logo-image {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.page-header {
  text-align: center;
}

body {
  background-color: #5d5a6d;
}

#profile-pic {
   height: 90px;
   width: 100px;
 }
