<div class="page-header"><h1><img alt="Brand" src="/photos/robologo.png" class="logo-image">robotWoRLD <small>scanning for world domination</small></h1></div>
  <div class="col-md-8">
    <h4 class="dashboard-header">Taking Over the World...<strong> One Bot at a Time</strong></h4>
    <p>
      <strong>Average Robot Age:</strong> <%= average_age %><br>
      <strong>Robots Hired This Year:</strong> <%= robots_created_this_year %><br>
    </p>
  </div>
  <div class="col-md-4">
    <img src="/photos/awesomeo.jpg" class="img-responsive">
  </div>
