<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>Robot World</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span><img alt="Brand" src="/photos/robologo.png" class="logo-image"></span>
            robot<strong>WoRLD</strong>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/robots">All Robots</a></li>
          <li><a href="/robots/new">Add Robot</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row well">
        <%= yield %>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
